body {
	overflow: hidden;
}
#error {
    color: white;
    position: absolute;
    left: calc(85vw + 1em);
    bottom: 8px;
    font-size: 2em;
}

#iterations {
    color: white;
    position: absolute;
    left: calc(85vw + 1em);
    bottom: calc(8px + 1em);
    font-size: 2em;
}

#results {
    position: absolute;
    bottom: 155px;
    width: 300px;
    height: 200px;
    background: #111;
    margin: auto;
    left: 0;
    right: 0;
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(16, 1fr);
    grid-auto-flow: column;
    font-size: 9px;
    font-family: monospace;
    color: white;
}

#results > div {
    background: #333;
    text-align: center;
}